@font-face {
    font-family: 'Intro';
    src: url('intro-regular-webfont.woff2') format('woff2'),
         url('intro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Intro';
    src: url('intro-black-webfont.woff2') format('woff2'),
         url('intro-black-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');


body {
    font-family: 'Lato', sans-serif;
    font-size: 100%;
}

h1, h2, h3, h4 {
    font-family: 'Intro', sans-serif;
}

main {
    padding-top: 2em;
}
section {
    padding-top: 2em;
    padding-bottom: 2em;
}

h1 {
    color: white;
    font-size: 2.2em;
    font-weight: 900;
}

h2 {
    color: rgba(250, 115, 68);
    text-align: center;
    font-weight: 900;
    font-size: 1.75em;
}

h3 {
    font-weight: 700;
    display: inline;
    font-size: 1.5em;
}

p {
    margin: none;
    font-weight: 700;
    margin-block-end: 0;
    margin-block-start: 0;
}

p.gray-text {
    color:gray;
    font-weight: 400;
}

small {
    size: 1rem;
    color: gray;
}

em {
    font-style: normal;
    color: rgb(1, 175, 1);
}

a {
    text-decoration: none;
    color: gray;
}
/* NAVBAR */

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.75em;
}

.logo-and-subtitle {
    display: flex;
    flex-direction: column;
}

.nav-bar-icon {
    width: 1.5rem;
    height: 1.5rem;
    filter: invert(62%) sepia(0%) saturate(0%) hue-rotate(20deg) brightness(89%) contrast(86%);
}

.desktop-nav {
    display: flex;
    min-width: 60vw;
    flex-direction: row;
    justify-content: space-around;
    text-align: justify;
    align-items: center;
    font-weight: 600;
}


@media only screen and (max-width: 800px) {
    .desktop-nav {
      display: none;
    }
  }

@media only screen and (min-width: 800px) {
    .mobile-nav {
        display: none;
    }
  }


/* HERO SECTION */

.hero-section {
    display: flex;
    width: 100vw;
}

.green-gradient-background {
    background-image: linear-gradient(rgba(192, 218, 56, 1), rgba(116, 204, 82, 1));
    padding: 1em 1em 3em 1em;
    align-items: center;
}

@media only screen and (min-width: 800px) {
    .green-gradient-background {
        padding: 2em 5em 2em 5em;
        align-items: center;
        width: 50vw;
    }

    h1 {
        width: 50%;
    }
    
    .mobile-hero-image {
        display: none;
    }

    .desktop-hero-image {
        width: 50vw;
        height: 100%;
    }
  }

@media only screen and (max-width: 800px) {
    .desktop-hero-image {
        display: none;
    }

    .hero-section {
        flex-direction: column;
    }
  }  

.form-icon-and-input-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1.5em;
}

.hero-form {
    background-color: white;
    border-radius: 5px;
    width: 90%
}

.form-icon {
    height: 1.25rem;
    width: 1.25rem;
    margin-right: 1em;
    filter: invert(78%) sepia(61%) saturate(5581%) hue-rotate(331deg) brightness(99%) contrast(97%);
}

.border {
    border-top-style: solid;
    border-width: 2px;
    border-color: lightgray;
}

input {
    border: none;
    font-size: 1em;
}

.find-a-restaurant-button {
    background-color: rgba(250, 115, 68);
    border: none;
    color: white;
    padding: 1.3em 2.4em 1.3em 2.4em;
    border-radius: 5px;
    margin-top: 1em;
    font-weight: 800;
    font-size: 1.1em;
}

/* HOW IT WORKS SECTION */

.how-it-works-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 33%));
    margin: auto;
    justify-content: center; 
}

.how-it-works-item {
    display: flex;
    padding: 2em;
    
}

.how-it-works-img {
    height: 5rem;
    width: 5rem;
    padding: 1em;
}

.gray-text {
    font-size: 1.2em;
    line-height: 1.5em;
    margin-top: 1em;
}


/* DISHES SECTION*/

.green-background-section {
    background-color: rgba(245, 245, 235);
    width: 100%;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    width: 280px;
    min-height: 370px;
    background-color: white;
    margin: 1em;
    border-radius: 4px;
   
}

.card-image {
    border-radius: 5px 5px 0 0;
}

.card-text {
    padding: 1em 1em 0em 1em;
    display: flex;
    flex-direction: column;
    position: relative;
}

.card-text small {
    padding-top: 1em;
    display: block;
} 

.green-button {
    background-color: rgba(95, 176, 56);
    border: none;
    border-radius: 5px;
    color:white;
    padding: 0.75em 1.75em;
    font-style: italic;
    font-weight: 600;
}

.button-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    padding-top: 1em;
}

.rating {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    border-top-style: solid;
    border-width: 1px;
    border-color: lightgray;
    margin-top: 1em;
    padding: 1em;
    align-items: center;
    }

/* BENEFITS SECTION */
.benefits-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
    color: white;
    background-image: linear-gradient(rgba(250, 115, 68), rgba(238, 59, 81));
    justify-items: center;
}

.benefits-item {
    margin: auto;
    min-width: 7em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;   
    text-align: center;
}

.benefits-item h3 {
    font-size: 1.3em;
}

.benefits-item small {
    color: white;
}

.circle-white {
    height: 6em; 
    width: 6em;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.benefits-icon {
    height: 3rem;
    width: 3rem;
    filter: invert(71%) sepia(66%) saturate(408%) hue-rotate(348deg) brightness(101%) contrast(92%);
}

/* RESTAURANTS BY CUISINE SECTION */



/* BANNER SECTION */
.banner {
    background-color: rgba(41, 41, 49);
    border-radius: 5px;
    margin:1em;
    padding: 3em;
}

.banner h2 {
    color: white;
}

/* FOOTER SECTION */
.top-footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
}

.footer-items {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.bottom-footer {
    padding: 1em;
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    
}

.bottom-footer .gray-text {
    margin: 0.25em 0;
}

@media only screen and (min-width: 800px) {
    .bottom-footer {
      flex-direction: row;
      
      justify-content: space-between;
      align-items: center;
    }
  }

.footer-row {
    display: flex;
    margin: 1em 0;
}

.footer-row a {
    padding-right: 3em;
    font-size: 1.1em;
    align-content: center;
}


/* DESKTOP ONLY ITEMS */
@media only screen and (max-width: 800px) {
    .desktop-only {
      display: none;
    }
  }

